body{
	margin-left: auto; margin-right: auto; width: 1440px;	
  }
h1{
	color: #0BBBD3 ; font-size: 48px; line-height: 135.02%; font-weight: 400px; font-family: 'inter'; text-align: center;
}
.color-black{
	color: black;
}
.div{	
	background-image: url(../img/Успенський\ собор\ 1.png); 
	height: 852px; display: flex; flex-direction: row;
}
.text1{
	width: 715px; height: 321px; 
	font-weight: 700; font-size: 64px;	line-height: 167.02%;
	font-family: 'inter'; color: #ffff; 
	padding-left: 163px; padding-top: 228px;
}
.flagblue{
	background-color: #33B8F1; width: 24px; height: 191px; margin-left: 80px;margin-top: 198px;
}
.flagyellow{
	background-color: #E8F82F; width: 24px; height: 191px; margin-left: 80px;margin-top: 389px;
}

.div1{
	margin-left: auto; margin-right: auto;width: 1440px;
}
h2{
	font-family: 'Inter';font-size: 48px;margin-left: 76px; padding-top: 40px; margin-bottom: 16px;
}
.blueline1{
	width: 361px; height: 5px; border-color: #33B8F1; background-color:#33B8F1; margin-left: 80px; 
}
.text2{
	font-family: 'inter'; text-align: center; font-size: 48px; text-transform: uppercase;line-height: 167.02%;font-weight: 700;margin-bottom: 16px;
}
.blueline2{
	width: 361px; height: 5px; border-color: #33B8F1; background-color:#33B8F1; margin:center; 
}
.conteiner{
	display: flex;flex-direction: row;margin-left: 80px;margin-top: 126px;
}
.border1{
	width: 399px; height: 481px; background: #FFFEFE;background-clip: border-box; box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);border-radius: 30px;margin-right: 39px;
}
.border2-3{
	width: 399px; height: 481px; background: #FFFEFE;background-clip: border-box; box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);border-radius: 30px;margin-right: 39px;
}
.img-sad{
	width: 399px; height: 267px;padding-right: 39px; 
}
.img-bulvar{
	width: 399px; height: 267px; padding-right: 35px;
}
.img-naberegnaya{
	width: 408px; height: 267px; padding-right: 35px;
}
.place1{
	width: 399;font-family: 'Inter';font-style: normal;font-weight: 700;font-size: 36px;line-height: 167.02%;color: #33B8F1;text-decoration: none; 
}
.indicator{
	width: 64px;height: 68px;transform: rotate(-50.3deg);
}
.place2{
	width: 404;font-family: 'Inter';font-style: normal;font-weight: 700;font-size: 36px;line-height: 167.02%;color: #030303; 
}
.place3{
	width: 408;font-family: 'Inter';font-style: normal;font-weight: 700;font-size: 36px;line-height: 165.02%;color: #040505; 
}
p{
	width: 396px;height: 149px; color: #595050; font-family: 'Inter';
	font-style: normal;font-weight: 400;font-size: 32px;line-height: 167.02%;
}
.p{
	margin-top: 1px;
}
.heart{
	background-image: url(../img/Дизайн\ без\ назви\ \(1\)\ 1.png); width: 973px;height: 877px;margin-left: auto; margin-right: auto;margin-top: 42px;
}
h4{
	font-family: 'inter'; text-align: center; font-size: 48px; text-transform: uppercase;line-height: 167.02%;font-weight: 700; color: #FFFFFF; background-color: #33ADF1; margin-top: -36px; width: 430px; margin-left: auto; margin-right: auto;
}
.footer{
	background-color: #0A2DA9; height: 405px; 
}
.color-blue1{
	color: #0BBBD3
}
.color-white{
	color: #F8F5F5;
}
.color-blue2{
	color: #28CDE3;
}
.text-foot{
	text-align: center; padding-top: 49px;font-family: 'Inter';margin-bottom: 0px;
	font-style: normal;font-weight: 400;font-size: 64px;line-height: 135.02%;
}
h6{
	font-family: 'Inder';font-style: normal;font-weight: 400;font-size: 32px;line-height: 135.02%;color: #353949;text-align: center;margin-top: 25px;
}
.logotip{
	display: flex; justify-content: center;margin-top: 42px; /*останнє не працює*/       
}
.logotip-size{
	width: 48px;height: 48px;margin-right: 70px;
}